body {
	/*background-color: rgba(146, 163, 176, 1);*/
	background-color: rgba(41, 80,109,1);
	/*background-color: darkslategray;*/
	/*background-color: thistle;*/
	margin: 50px;
	/*border: 4px solid darkgray;*/
	border-radius: 10px;
	padding: 30px;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Marcellus', serif;*/
  text-shadow: 4px 2px 8px black;
  font-weight: bold;
  color: antiquewhite;
  font-size: 20px;
  padding: 20px;

}

a:hover {
	color: lightsteelblue;
	text-shadow: 10px 10px 8px black;

	/*font-size: 27px;*/

}

/*h1 {
	text-shadow: 4px 2px 8px darkslategray;
}*/

footer {
  	right: 0;
  	bottom: 0;
  	width: 100%;
  	font-family: 'Poppins', sans-serif;
  	font-size: 11px;
  	margin-top: 50px;
  	margin-bottom: -20px;
  	margin-left: 20px;
  	text-shadow: 4px 2px 8px black;
  	color: lightgray;
  	text-align: center;
}




header{
	position: fixed;
	top: 0;
	margin-left: -100px;
	margin-top: 20px;
  	width: 100%;
  	font-family: 'Baloo', cursive;
  	text-shadow: 4px 2px 8px black;
  	color: white;
  	text-align: center;
}


#name {
	background-color: rgba(200, 199, 204, 1);
	font-family: 'Sacramento', cursive;
	border: 2px solid darkslategray;
	border-radius: 5px;
	margin-top: 50px; 
	margin-bottom: 50px;
	font-size: 30px;
	text-align: center;
	padding: 30px;
	height: 200px;
	width: 92%;
	box-shadow: 10px 10px 10px black;
}

#proj {

	margin: 20px;
	margin-top: 88px;
	margin-bottom: 30px;
	margin-left: 30%;
	margin-right: 30%;
	height: 60px;
	padding-top: -5;
	padding-bottom: 15px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	border: 2px solid darkgray;
	border-radius: 5px;
	background-color: rgba(122, 131, 150, 1);
}

#tech {
	margin: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	padding: 18px;
	border: 2px solid darkgray;
	border-radius: 5px;
	background-color: rgba(200, 199, 204, 1);
	box-shadow: 10px 10px 10px black;
}

#projects {
	display: flex;
	flex-direction: row;
	border: 2px solid darkgray;
	border-radius: 5px;
	background-color: rgba(122, 131, 150, 1);
	box-shadow: 10px 10px 10px black;
	padding: 50px;
	justify-content: center;
	text-align: center;
	justify-content: space-around;
}

#willowPic, #gamePic, #handsPic  {
	height: 177px;
	width: 177px;
	border-radius: 50%;
	border: darkgreen 3px solid ;
	box-shadow: 5px 5px 10px black;
	margin-left: -15px;

}


#game {
 	align-self: flex-end;
 	height: 400px;
 	width: 200px;
}

#world {
	align-self: flex-end;
	height: 400px;
	width: 200px;
}

#willow {
	align-self: flex-end;
	height: 400px;
	width: 200px;
}

#contact {
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	margin-top: 150px;
}

#bio {
	font-family: 'Poppins', sans-serif;
	background-color: rgba(122, 131, 150, 1);
	border: 2px solid darkgray;
	border-radius: 5px;
	padding: 30px;
	height: 550px;
	width: 92%;
	box-shadow: 10px 10px 10px black;
	display: flex;
	overflow: auto;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
}

#biodiv {
	height: 270px;
	max-width: 70%
}

#mypic {
	max-width: 65%;
	max-height: 90%;
}

#lana {
	max-width: 90%;
	max-height: 90%;
	border-radius: 5px;
	border: darkslategray 1px solid ;
	box-shadow: 8px 8px 10px black;
	margin: : 20px;
	float: right;
}



#willowPic:hover {
	border: 3px teal solid;
	box-shadow: 10px 10px 10px black;
}

#handsPic:hover {
	border: 3px teal solid;
	box-shadow: 10px 10px 10px black;
}

#gamePic:hover {
	border: 3px teal solid;
	box-shadow: 10px 10px 10px black;
}

ul {
	list-style: none;
}

p {
	font-family: 'Poppins', sans-serif;

}








